@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), 
        url("../fonts/Montserrat/Montserrat-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    width: 1920px;
    margin: 0 auto;
    padding: 160px 260px;
}

.block {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    padding: 40px;
}

.block_1 {
    width: 528px;
    border: 1px solid #9A9A9A;
    border-radius: 20px;
    float: right;
}

.block_2 {
    width: 796px;
    border: 1px solid #FFA300;
    border-radius: 20px;
    margin-bottom: 59px;
}

.block_3 {
    width: 796px;
    border: 1px solid #000000;
    border-radius: 20px;
}

@media (max-width: 1920px) {
    .section {
        display: flex;
        flex-direction: column;
        width: 375px;
        padding: 47px 35px;
    }
    
    .block {
        font-size: 14px;
        padding: 20px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .block_1 {
        float: none;
    }

    .block_2 {
        order: -1;
    }
}
